@import "tailwindcss";




body {

  font-family: "Inter", sans-serif;
  animation: zoomIn 1s ease;;
}

@keyframes zoomIn {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}